@import url("iconfont.css");
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);*/
/* RESET */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
article, aside, figure, footer, header, nav, section, details, summary {display: block;}
html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img,
object,
embed {max-width: 100%;}
html {overflow-y: auto;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}
small {font-size: 85%;}
strong {font-weight: bold;}
td, td img {vertical-align: top;}
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button,
input[type=button] {width: auto; overflow: visible;}
.ie7 img {-ms-interpolation-mode: bicubic;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* END RESET */

/*COMMON*/
/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body { font: 13px Verdana, sans-serif; }
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body, select, input, textarea {color: #6d6c6c;}
a {color: #6d6c6c; text-decoration: none; outline: 0;}
a:hover, a:focus {text-decoration: none;}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #5b5b5b; color: #fff; text-shadow: none;}
::selection {background: #5b5b5b; color: #fff; text-shadow: none;}
/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}
ins {background-color: #5b5b5b; color: #fff; text-decoration: none;}
mark {background-color: #5b5b5b; color: #fff; font-style: italic; font-weight: bold;}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color: #a9a9a9; }
textarea:-moz-placeholder { color: #a9a9a9; }

/* TIPOGRAPHY */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
	font-size: 65%;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.h1,h1 { font-size: 36px; }
.h2,h2 { font-size: 30px; }
.h3,h3 { font-size: 24px; }
.h4,h4 { font-size: 18px; }
.h5,h5 { font-size: 14px; }
.h6,h6 { font-size: 12px; }
p { margin: 0 0 10px 0 }
/* end TIPOGRAPHY */


/* BODY */
body {
	font-family: 'at_Roboto-Light', sans-serif;
	height: 100%;
	width: 100%;
	background-color: #f0f1f5;
}
@media screen and (min-width: 720px) {
	.sso {
		background: #e1e3e0 url(../images/backgrounds/background-sso3.jpg) no-repeat bottom center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
.ie8 .sso {
	height: 100%;
	min-width: 640px;
	background: #f0f1f5;
	position: relative;
	overflow: hidden;
}
.ie8 .sso.shortSSO {
	height: auto;
}
/* end BODY */



/* HEADER */
.top-bar {
	position: relative;
	padding: 12px 0 18px 0;
	background: transparent;
	text-align: center;
}
.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
.top-bar span {
	display: inline-block;
	font-size: 2em;
	color: #0066a1;
	font-weight: normal;
	padding: 6px 0 6px 12px;
	vertical-align: middle;
	margin-left: 12px;
	border-left: 2px solid #0066a1;
}
.top-bar-brand {
	display: inline-block;
}
.top-bar .top-bar-brand .atosIconFont-logo {
	font-size: 5em;
	line-height: .6;
	padding: 0;
	margin-left: 0;
	border-left: none;
}
@media screen and (min-width: 720px) {
	.top-bar span {
		color: #ffffff;
		border-left: 2px solid #ffffff;
	}
	.top-bar .top-bar-brand .atosIconFont-logo {
		font-size: 10em;
	}
}

.ie8 .iconfont-logo:before {
	content: "";
}
.ie8 .top-bar-brand {
	background: url(../images/sso/iconfont-logo.png) no-repeat center center;
	display: block;
	width: 92px;
	height: 30px;
}
.ie8 .top-bar .top-bar-brand .atosIconFont {
	width: 60px;
	height: 50px;
}
/* end HEADER */



/* FOOTER */
.sso footer {
	position: relative;
	display: block;
	padding: 25px 20px 18px 20px;
	margin: 0 auto;
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #000;
}
/* sso.js - manage 'stickyFooter' class */
.sso.stickyFooter footer {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
}
.sso footer p {
	position: relative;
	display: block;
	margin: 0;
	width: 100%;
	padding: 6px 24px 0 24px;
}
.sso footer nav {
	position: relative;
	display: block;
	text-align: center;
	width: 100%;
}
.sso footer nav ul li {
	display: inline-block;
	width: auto;
	margin: 0 10px;
}
.sso footer nav ul li a,
.sso footer nav ul li a:hover {
	text-decoration: underline;
	color: #000;
}
.sso footer nav ul li a:focus {
	color: #0066a1;
	background-color: #ffffff;
}

@media screen and (min-width: 720px) {
	.sso footer {
		color: #fff;
	}
	.sso footer nav ul li a,
	.sso footer nav ul li a:hover {
		color: #fff;
	}
	.sso footer nav ul li a:focus {
		color: #0066a1;
		background-color: #ffffff;
	}
}

/* TODO: check it */
.ie8 .sso footer {
	position: relative;
	height: 70px;
	z-index: 2;
}
.ie8 .sso.shortSSO footer {
	height: auto;
	margin-top: 30px;
}
/* end FOOTER */



/* CONTENT */
.contentsso {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 2vh;
	width: 800px;
}
@media screen and (min-width: 720px) {
	.contentsso.error {
		width: 570px;
	}
}



/* SSO module */
.sso-box {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 16px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 16px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 16px 20px 0px rgba(0,0,0,0.25);
	background-color:#fff;
	display: block;
	margin: 8px auto 8px auto;
	padding: 18px;
}
.sso-box h3 {
	display: block;
	font-family: "at_Roboto-Light", sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #0066a1;
	width: 100%;
	margin: 0 auto;
}
@media screen and (min-width: 720px) {
	.sso-box h3 {
		margin-top: 10px;
	}
}
.sso-box legend {
	text-align: center;
	margin: 0 0 9px 0;
	padding-top: 12px;
	width: 100%;
	font-size:15px;
}
.sso-box legend > a:hover,
.sso-box legend > a:focus,
.sso-box legend > p > a:hover,
.sso-box legend > p > a:focus {
	background-color: rgba(0,0,0,.1);
}

/* sms2.html */
.sms_message {
	color: #000000;
	text-align: center;
	font-size: 15px;
	margin-bottom: 12px;
	margin-top: -5px;
}
.sms_message span {
	display: block;
	font-size: 15px;
	font-weight: 700;
}

/* error pages */
.error_message {
	font-size: 15px;
	color: #6d6c6c;
	margin: 19px 0;
}
.error_message a {
	text-decoration: underline;
	font-weight: 700;
}
.error_message a:hover,
.error_message a:focus {
	background-color: rgba(0,0,0,0.10);
}

.sso-box [class^="wg-"],
.sso-box [class*=" wg-"] {
	display: block;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

/* FORMS */
.sso-box form {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.sso-box label {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: #929292;
	margin: 0;
}
.sso-box input[type=text],
.sso-box input[type=password] {
	display: block;
	font-family: Verdana, sans-serif;
	font-size: 15px;
	color: #000000;
	font-weight: 100;
	line-height: normal;
	text-align: left;
	width: 100%;
	min-height: 30px;
	padding: 7px;
	margin: 4px 0 12px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #f8f8f8;
	border: 1px solid #b0afaf;
	outline: 0;
}
.sso-box input[type=text]:focus,
.sso-box input[type=password]:focus {
	border: 1px solid #0066a1;
	color: #000000;
	background-color: #ffffff;
}
.sso-box input[type=submit].btn {
	display: block;

	font-family: 'at_Roboto-Light', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.3;
	text-align: center;
	white-space: normal;
	vertical-align: middle;

	margin: 24px auto 0 auto;
	padding: 10px;
	width: 100%;
	min-height: 48px;

	background-color: #0066a1;
	border: 2px solid #0066a1;
	color: #FFF;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	cursor: pointer;

	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.sso-box input[type=submit].btn:hover,
.sso-box input[type=submit].btn:focus {
	cursor: pointer;
	color: #0066a1;
	border-color: #0066a1;
	background-color: #ffffff;
}
.error .sso-box input[type=submit].btn {
	width: 235px;
	max-width: 100%;
}
@media screen and (min-width: 720px) {
	.btn {
		white-space: nowrap;
	}
}

/* end FORMS */


/* TOOLTIP INFO */
.icoInfo {
	background-color: #777777;
	color: #ffffff;
	display: block;
	width: 18px;
	height: 18px;
	text-align: center;
	padding-top: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-size: 11px;
	border-radius: 50%;
	font-weight: bold;
	overflow: hidden;
	font-family: Verdana, Geneva, at_Roboto-Light;
}
.tooltipInfo:hover .icoInfo,
.tooltipInfo:focus .icoInfo {
	background-color: #5b5b5b;
}
.tooltipInfo {
	width: 30px;
	height: 30px;
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 4px 0 0 10px;
	cursor: help;
	position: relative;
	line-height: 10px;
	vertical-align: middle;
	outline: 0;
}
.tooltipInfo > div {
	position: absolute;
	bottom: 15px;
	display: none;
	background-color: transparent;
	padding: 0 0 19px 0;
	width: 190px;
	margin-left: -100px;
	z-index: 1;
	cursor: default;
}
.tooltipInfo > div.isFocused,
.tooltipInfo:hover > div,
.tooltipInfo:focus > div {
	display: block;
}
.tooltipInfo > div:after,
.tooltipInfo > div:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	right: 75px;
	position: absolute;
	width: 0;
}
.tooltipInfo > div:after {
	border-width: 6px;
	border-top-color: #4c4c4c;
	bottom: 8px;
}
.tooltipInfo > div:before {
	border-width: 6px;
	bottom: 7px;
}
.tooltipInfo > div > p {
	font-weight: 400;
	font-size: 12px;
	color: #ffffff;
	text-align: left;
	line-height: 1.2;
	font-weight: 100;
	display: block;
	width: 100%;
	padding: 8px;
	background-color: #4c4c4c;
	margin: 0;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
}
.tooltipInfo > div > p br {
	font-size: 13px;
}

.tooltipInfo > div a {
	color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
}
.tooltipInfo > div a:hover,
.tooltipInfo > div a:focus {
	background-color: #fff;
	color: #0066a1;
}
/* TOOLTIP INFO */


/* LOGIN ALTERNATIVES */
.sso .alternative {
	margin-top: 18px;
}
.sso .alternative h2 {
	font-weight: 400;
	font-size: 16px;
	color: #0066a1;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.sso .alternative ul {
	text-align: center;
}
.sso .alternative ul li {
	display: inline-block;
	text-align: center;
	margin: 12px 8px 0 8px;
	vertical-align: top;
}
.sso .alternative button {
	display: block;
	color: #777777;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	font-size: 16px;
	font-weight: 100;
	outline: 0;
}
.sso .alternative ul li button:hover,
.sso .alternative ul li button:focus {
	color: #3a3a3a;
}
.sso .alternative span.atosIconFont {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	padding: 10px;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	font-size: 24px;
	margin: 0 auto 8px auto;
	color: #ffffff;
	background-color: #777777;
}
.sso .alternative button:hover span.atosIconFont,
.sso .alternative button:focus span.atosIconFont{
	background-color: #3a3a3a;
}

@media screen and (min-width: 720px) {
	.sso .alternative h2 {
		color: #ffffff;
	}
	.sso .alternative button {
		color: #ffffff;
	}
	.sso .alternative ul li button:hover,
	.sso .alternative ul li button:focus {
		color: #ffffff;
	}
	.sso .alternative span.atosIconFont {
		color: #999999;
		background-color: #ffffff;
	}
	.sso .alternative button:hover span.atosIconFont,
	.sso .alternative button:focus span.atosIconFont {
		background-color: #ffffff;
		color: #0066a1;
	}
}

.ie8 .iconfont-login_password {
	content: "";
	background: transparent url(../images/sso/iconfont-login_password.png) no-repeat;
}
.ie8 .iconfont-login_otp {
	content: "";
	background: transparent url(../images/sso/iconfont-login_otp.png) no-repeat;
}
.ie8 .iconfont-login_pki {
	content: "";
	background: transparent url(../images/sso/iconfont-login_pki.png) no-repeat;
}
/* end ALTERNATIVES */